.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-flow: wrap row; */
    background-color: wheat;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
}
